<!DOCTYPE html>
<html>
     <head>
          <title> {{activeUserDetails.username}} - Connectify </title>
          <link rel="icon" href="../resources/Logo.svg" type="image/svg+xml">

          <!-- CSS -->
          <link rel="stylesheet" type="text/css" href="../css/generalStyle.css">
          <link rel="stylesheet" type="text/css" href="../css/editProfile.css">

          <!-- CROPPER -->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>

          <script>
               var activeUserDetails = {{{ json activeUserDetails }}}; 
          </script>
     </head>
     <body>
          <!-- HEADER PORTION -->
          <header>
               <div id="headercol1" onclick="window.location.href='/';">
                    <img id="logo" src="../resources/Logo.svg" />
                    <p id="appName"> Connectify </p>
               </div>

               <form action="/" method="GET" style="display: contents;">
                    <div class="searchBar" id="searchContainer">
                         <img src="../resources/Trailing-Elements.svg" alt="Search Icon">
                         <input type="text" id="search" name="q" placeholder="Search #tags, @authors, or words" autocomplete="off">
                         <div id="searchSuggestions" class="search-suggestions"></div>
                    </div>
               </form>
          </header>

          <div id="base">

               <!-- OPTIONS -->
               <div id="col1" class="base-columns">
                    <div class="col1-sub-container">
                         <button class="discard" onclick="window.location.href='/profile/{{activeUserDetails.username}}?userId={{activeUserDetails._id}}';">
                              Back
                         </button>
                    </div>

                    <div class="col1-sub-container"> 
                         <button class="delete-account">
                              Delete Account
                         </button>
                    </div>
               </div>

               <div class="column-brk" style="height: auto;"></div>

               <div id="col2" class="base-columns">
                    <div class="col2-row">
                         <div class="col1-row1-col">
                              <div id="pfpcontainer">
                                   <div id="pfpPic">
                                        <img src="{{activeUserDetails.profilepic}}" />
                                   </div>
                              </div>

                              <!-- CHANGE PROFILE PICTURE -->
                              <button id="change-pfp" class ="change-photo" onclick="imageChange(this)">
                                   Change Profile Photo
                              </button>
                         </div>

                         <!-- CHANGE PROFILE HEADER -->
                         <div class="col1-row1-col">
                              <div id="profileHeader">
                                   <img src="{{activeUserDetails.headerpic}}" />
                              </div>
                              <button id="change-header" class="change-photo" onclick="imageChange(this)">
                                   Change Header
                              </button>
                         </div>
                    </div>

                    <!-- IMAGE INPUT -->
                    <input type="file" id="image-input" accept="image/*" style="display: none;" />

                    <!-- MODAL FOR IMAGE CROPPING -->
                    <div id="crop-modal" style="display: none;">
                         <div>
                             <h2>Adjust Your Image</h2>
                             <div>
                                 <img id="crop-image" />
                             </div>
                             <button id="crop-save-btn">Save</button>
                             <button id="crop-cancel-btn">Cancel</button>
                         </div>
                    </div>

                    <div class="row-brk" style="width: inherit;"></div>

                    <div id="input-details" class="col2-row">
                         <div class="input-segment-rows" style="margin-bottom: 10px;">
                              <label> Edit Profile </label>
                         </div>
                         
                         <!-- CHANGE USER DETAILS-->
                         <div class="input-segment-rows">
                              <div class="input-col">
                                   <div id="change-username" class="input-fields">
                                        <p class="input-label"> Username </p>
                                        <input type="text" id="username" name="username" placeholder="{{activeUserDetails.username}}">
                                        <label id="username-feedback" class="input-feedback"></label>
                                   </div>
                                   <div id="change-display-name" class="input-fields">
                                        <p class="input-label"> Display Name </p>
                                        <input type="text" id="display-name" name="display-name" placeholder="{{activeUserDetails.displayname}}">
                                        <label id="dn-feedback" class="input-feedback"></label>
                                   </div>
                              </div>

                              <div class="input-col">
                                   <div id="change-bio" class="input-fields">
                                        <p class="input-label"> Bio </p>
                                        <textarea id="bio" name="bio" rows="5" cols="80" placeholder="{{activeUserDetails.bio}}"></textarea>
                                        <label id="bio-feedback" class="input-feedback">0/100</label>
                                   </div>
                              </div>
                         </div>

                         <!-- SAVE USER DETAILS -->
                         <div id="save-changes-row" class="input-segment-rows button-row">
                              <label id="save-changes-feedback" class="input-feedback"></label>
                              <button id="save-changes" onclick="saveUserDetails();" class="save-buttons">
                                   Save Changes
                              </button>
                         </div>

                         <div class="row-brk"></div>

                         <!-- CHANGE ACCOUNT INFO -->
                         <div class="input-segment-rows">
                              <div class="input-col">
                                   
                                   <label> Account Information </label>
                                   <div id="change-email" class="input-fields">
                                        <p class="input-label"> Email </p>
                                        <input type="email" id="email" name="email" placeholder="{{activeUserDetails.email}}">
                                        <label id="email-feedback" class="input-feedback"></label>
                                   </div>
                                   <div id="change-ematelil" class="input-fields">
                                        <p class="input-label"> Phone Number </p>
                                        <input type="tel" id="tel-number" name="tel-number" placeholder="{{activeUserDetails.phone}}">
                                        <label id="tel-feedback" class="input-feedback"></label>
                                   </div>

                                   <!-- SAVE ACCOUNT INFO -->
                                   <div class="button-row">
                                        <label id="update-acc-feedback" class="input-feedback"></label>
                                        <button id="update-acc" onclick="saveAccountInfo();" class="save-buttons">
                                             Update Account
                                        </button>
                                   </div>
                              </div>
                              
                              <!-- CHANGE ACCOUNT PASSWORD -->
                              <div class="input-col">
                                   <label> Change Password </label>
                                   <div id="password-edit">
                                        <div id="current-password" class="input-fields password-edit">
                                             <p class="input-label"> Current Password </p>
                                             <input type="password" id="curr-password" name="password" placeholder="Current password">
                                        </div>
                                        <div id="change-password" class="input-fields password-edit">
                                             <p class="input-label"> New Password </p>
                                             <input type="password" id="password" name="passsword" placeholder="New password">
                                             <label id="pw-feedback" class="input-feedback">insert feedback</label>
                                        </div>
                                        <div id="confirm-password" class="input-fields password-edit">
                                             <p class="input-label"> Confirm New Password </p>
                                             <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password">
                                             <label id="cpw-feedback" class="input-feedback">insert feedback</label>
                                        </div>
                                   </div>

                                   <!-- SAVE ACCOUNT PASSWORD -->
                                   <div class="button-row">
                                        <label id="update-pw-feedback" class="input-feedback"></label>
                                        <button id="update-pw" onclick="changePassword();" class="save-buttons" style:>
                                             Update Password
                                        </button>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               
          </div>
     </body>
</html>

<!-- ADDITIONAL JS FILE: CONTAINS CROPPER -->
<script src="../js/editProfilePage.js"></script>
<script src="../js/searchSuggestions.js"></script>