<!DOCTYPE html>
<html>
    <head>
        {{#if title}}
            <title>Connectify - {{title}}</title>
        {{/if}}
        <title>Connectify - Share your thoughts!</title>
        <link rel="icon" href="/resources/Logo.svg" type="image/svg+xml">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/generalStyle.css">
        <link rel="stylesheet" type="text/css" href="/css/newPostPage.css">

        <script>
            var mainPost = {{{ json post }}};

            var directory = "/posts";
            if (mainPost)
                directory = `/posts/edit-save/${mainPost._id}`;
        </script>
    </head>

    <body>
        <!-- HEADER PORTION -->
        <header>
            <div id="headercol1" onclick="window.location.href='/'">
                <img id="logo" src="/resources/Logo.svg" />
                <p id="appName"> Connectify </p>
            </div>
            <div id="headercol2">
                <form action="/" method="GET" style="display: contents;">
                    <div class="searchBar" id="searchContainer">
                        <img src="/resources/Trailing-Elements.svg" alt="Search Icon">
                        <input type="text" id="search" name="q" placeholder="Search #tags, @authors, or words" autocomplete="off">
                        <div id="searchSuggestions" class="search-suggestions"></div>
                    </div>
                </form>
            </div>
        </header>

        <main>
            <!-- BACK BUTTON -->
            {{#if post}}
            <div class="goBackLink" onclick="window.location.href=`/posts/{{post._id}}`">
            {{else}}
            <div class="goBackLink" onclick="window.location.href='/'">
            {{/if}}
                <span class="arrow">&#8604;</span>
                <span class="back">Back</span>
            </div>

            <form id="postForm"
                  method="POST"
                  enctype="multipart/form-data">
                <div class="post">
                    <div class="postHeader">
                        <div class="userInfo">
                            <div class="avatar">
                                <img src="{{activeUserDetails.profilepic}}" alt="userProfilePicture" class="userProfilePic">
                            </div>
                            <div class="username">{{activeUserDetails.displayname}}</div>
                        </div>
                    </div>
                    <!-- TAG INPUT CONTAINER (hidden by default) -->
                    <div id="tagsContainer" class="tags" style="display: none;">
                        <div id="tagChips"></div>
                        <input
                            type="text"
                            id="tagsInput"
                            placeholder="Type a tag, then press comma or enter"
                            name="tags"
                            name="tags"
                        />
                    </div>
                    <!-- TITLE INPUT -->
                    <div class="postTitle" id="titleRow">
                        <input
                            type="text"
                            id="postTitleInput"
                            placeholder="Your thoughts need title..."
                            name="title"
                        />
                    </div>
                    <!-- TEXT AREA FOR MAIN POST CONTENT (up to 300 chars) -->
                    <div class="postText">
                        <textarea
                            id="postTextInput"
                            placeholder="What's on your mind?"
                            maxlength="300"
                            name="content"
                        ></textarea>
                    </div>
                    <!-- IMAGE INPUT (hidden by default) -->
                    
                    <!-- EXPRESS FILE UPLOAD -->
                    <input type="file" id="fileUpload" name="images" multiple style="display: none;">

                    <!-- CHARACTER LIMIT DISPLAY -->
                    <div id="feedback" class="charLim">0/300</div>
                    <div id="break"></div>
                    <!-- UPLOADED IMAGES CONTAINER -->
                    <div class="postContent" id="postContentContainer"></div>
                    <div class="horizontalBar"></div>
                    <!-- POST ACTIONS -->
                    <div class="postActions">
                        <div class="actionButtonsLeft">
                            <button type="button" class="actionButton" id="addImageButton">
                                <img src="/resources/ImageAdd.svg" alt="Upload">
                            </button>
                            <!-- Image Modal -->
                            <div id="imageModal" class="modal">
                                <span class="close">&times;</span>
                                <div id="userphotocontainer-modal">
                                    <img class="modal-content" id="modalImage">
                                </div>
                                <div id="caption"></div>
                            </div>
                            <script>
                                const addImageButton = document.getElementById('addImageButton');
                                const imageContainer = document.getElementById('postContentContainer');
                                addImageButton.addEventListener('click', function() {
                                    imageContainer.style.display = 'flex';
                                });
                            </script>

                            <button type="button"class="actionButton" id="addTagButton">
                                <img src="/resources/Hash.svg" alt="Add Tag">
                            </button>
                        </div>
                        <!-- POST BUTTON -->
                        {{#if feedback}}
                                <div class="feedback"> {{feedback}}</div>
                        {{/if}}
                        {{#if post}}
                            <button type="submit" class="postButton" id="postButton">Save Changes</button>
                        {{else}}
                            <button type="submit" class="postButton" id="postButton">Post</button>
                        {{/if}}
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>

<!-- PAGE JAVASCRIPT -->
<script src="/js/newPostPage.js"></script>   
<script src="/js/searchSuggestions.js"></script>