<!DOCTYPE html>
<html>
    <head>
        <title>Connectify - {{title}}</title>
        <link rel="icon" href="../resources/Logo.svg" type="image/svg+xml">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../css/profilePage.css">
        <link rel="stylesheet" type="text/css" href="../css/postPage.css">
        <link rel="stylesheet" type="text/css" href="../css/generalStyle.css">

        <!-- SCRIPT -->
        <script src="/js/actionButton.js"></script>
        <script src="/js/togglePopup.js"></script>
        <script src="/js/loadPostComments.js"></script>
        <script>
            var postsArray = {{{ json comments }}};
            var mainPost = {{{ json post }}};

            var activeUserDetails = {{{ json activeUserDetails }}};
            var activeLikes = {{{ json activeLikes }}};
            var activeBookmarks = {{{ json activeBookmarks }}};
            var activeDislikes = {{{ json activeDislikes }}};
        </script>
    </head>

    <body>
        <!-- HEADER PORTION -->
        <header>
            <div id="headercol1" onclick="window.location.href='/'">
                <img id="logo" src="../resources/Logo.svg" />
                <p id="appName"> Connectify </p>
            </div>
            <div id="headercol2">
                <form action="/" method="GET" style="display: contents;">
                    <div class="searchBar" id="searchContainer">
                        <img src="../resources/Trailing-Elements.svg" alt="Search Icon">
                        <input type="text" id="search" name="q" placeholder="Search #tags, @authors, or words" autocomplete="off">
                        <div id="searchSuggestions" class="search-suggestions"></div>
                    </div>
                </form>
        
                <!-- IF USER IS NOT LOGGED IN -->
                <div class="logIn">
                    <button id="logInButton" onclick="window.location.href='../html/loginPage.html'">Log In</button>
                </div>
            </div>
        </header>

        <div class="break"> </div>
        
        <main>
            
            <!-- BACK BUTTON -->
            {{#if origin}}
                <div class="goBackLink" onclick="window.history.back()"> 
            {{else}}
                <div class="goBackLink" onclick="window.location.href='/?userId={{activeUserDetails._id}}'"> 
            {{/if}}
                <span class="arrow">&#8604;</span>
                <span class="back">Back</span>
            </div>

            <div id="post"></div>
            <script>
                        document.addEventListener("DOMContentLoaded", loadPost());
            </script>

            <!-- COMMENTS -->
            <div id="comments">
                <h2>Comments</h2>
                <div class="horizontalBar"></div>
                <div id="comments-container" class="comment-thread"></div>
                <script>
                        document.addEventListener("DOMContentLoaded", loadComments());
                </script>
            </div>
        </main>

        <!-- IMAGE MODAL -->
        <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <div id="postImageContainer-modal"> 
                <img class="modal-content" id="modalImage">
            </div>
            <div id="caption"></div>
        </div>
    </body>
</html>

<!-- PAGE JAVASCRIPT -->
<script src="../js/postPage.js"> </script>
<script src="../js/searchSuggestions.js"></script>