<!DOCTYPE html>
<html>
     <head>
          <title> {{profileDetails.username}} - Connectify </title>
          <link rel="icon" href="/resources/Logo.svg" type="image/svg+xml">

          <!-- CSS -->
          <link rel="stylesheet" type="text/css" href="/css/profilePage.css">
          <link rel="stylesheet" type="text/css" href="/css/generalStyle.css">

          <!-- SCRIPTS -->
          <script src="/js/actionButton.js"></script>
          <script src="/js/togglePopup.js"></script>

          <script>
               var own, liked, disliked, bookmarked;
               var activeTab = {{{ json activeTab }}};

               var profileDetails = {{{ json profileDetails }}}; 
               var activeUserDetails = {{{ json activeUserDetails }}};

               var activeLikes = {{{ json activeLikes }}};
               var activeBookmarks = {{{ json activeBookmarks }}};
               var activeDislikes = {{{ json activeDislikes }}};

               var userPosts  = {{{ json profilePosts }}} ;
               var userComments  = {{{ json profileComments }}};
               var userBookmarks  = {{{ json profileBookmarks }}};
               var userLikes  = {{{ json profileLikes }}};
               var userDislikes  = {{{ json profileDislikes }}};

               console.log("PROFILE DETAILS: ", profileDetails);
          </script>
     </head>

     <body>
          <!-- HEADER PORTION -->
          <header>
               <div id="headercol1" onclick="window.location.href='/?userId={{activeUserDetails._id}}';">
                    <img id="logo" src="/resources/Logo.svg" />
                    <p id="appName"> Connectify </p>
               </div>
               <div id="headercol2">
                    <form action="/" method="GET" style="display: contents;">
                        <div class="searchBar" id="searchContainer">
                            <img src="/resources/Trailing-Elements.svg" alt="Search Icon">
                            <input type="text" id="search" name="q" placeholder="Search #tags, @authors, or words" autocomplete="off">
                            <div id="searchSuggestions" class="search-suggestions"></div>
                        </div>
                    </form>
               
                    {{#if activeUserDetails}}
                         <!-- No Log In button -->
                    {{else}}
                         <div class="logIn">
                              <button id="logInButton" onclick="window.location.href='/'">Log In</button>
                         </div>
                    {{/if}}
               </div>
          </header>

          <div id="content">
               <div id="profileHeader">
                    <img id="header-img" src="{{profileDetails.headerpic}}" onclick="openModal(this)" />
               </div>
               
               <div id="sub-container">
                    <!-- USER STATS/OPTIONS COLUMN -->
                    <div id="col1">
                         <!-- USERNAME, PROFILE, FOLLOW/ER COUNT -->
                         <div class="col1-sub-container"> 
                              <!-- PFP and USERNAME -->
                              <div id="pfpcontainer">
                                   <div id="pfpPic">
                                        <img id="pfp-img" src="{{profileDetails.profilepic}}" onclick="openModal(this)" />
                                   </div>

                                   <p class="maintext" id="display_name">{{profileDetails.displayname}}</p>
                                   <p class="subtext" id="username">{{profileDetails.username}}</p>
                              </div>

                              <div class="inviBrk"> </div>
                              
                              <!-- FOLLOW/ER COUNTS -->
                              <div id="count">
                                   <div id="followers">
                                        <p class="maintext" id="num_likes">{{likesCount}}</p>
                                        <p class="subtext"> Likes </p>
                                   </div>

                                   <div id="following">
                                        <p class="maintext" id="num_posts">{{postCount}}</p>
                                        <p class="subtext"> Posts </p>
                                   </div>
                              </div>
                         </div>

                         <!-- BIO -->
                         <div class="col1-sub-container"> 
                              <h3> BIO </h3>

                              <!-- BIO PLACEHOLDER -->
                              <p id="bio" class="regulartext"></p>
                         </div>

                         <!-- TAGS -->
                         <div class="col1-sub-container"> 
                              <h3> TAGS </h3>

                              <!-- TAGS AVAILABLE -->
                              <div id="taglist"></div>
                         </div>

                         <!-- SETTINGS -->
                         {{#if ownPage}}
                              <div class="col1-sub-container"> 
                                   <button class="editProfile" onclick="window.location.href='/edit-profile/{{activeUserDetails.username}}?userId={{activeUserDetails._id}}';">
                                        <img src="/resources/Edit Icon.svg" alt="">
                                        Account Settings
                                   </button>
                                   <button class="logOut" onclick="window.location.href='/logout'">
                                        <img src="/resources/Log Out Icon.svg" alt="">
                                        Log Out
                                   </button>
                              </div>
                         {{else}} 
                              {{#if activeUserDetails}}
                                   <div class="col1-sub-container"> 
                                        <button class="editProfile backto" onclick="window.location.href='/profile/{{activeUserDetails.username}}?userId={{activeUserDetails._id}}';">
                                             <img src="/resources/Arrow Curve Up Right.svg" alt="">
                                             Back to Profile
                                        </button>
                                        <button class="editProfile backto" onclick="window.location.href='/?userId={{activeUserDetails._id}}';">
                                             <img src="/resources/Arrow Curve Up Right.svg" alt="">
                                             Back to Home
                                        </button>
                                   </div>
                              {{/if}}
                         {{/if}}
                    </div>

                    <!-- USER POSTS/COMMENTS COLUMN -->
                    <div id="col2">
                         <!-- TAB SELECTION ROW -->
                         <div id="tabrow"> 
                              <button class="tab" data-id="posts" onclick="window.location.href='/profile/{{profileDetails.username}}/posts';">Posts</button>
                              <button class="tab" data-id="comments" onclick="window.location.href='/profile/{{profileDetails.username}}/comments';">Comments</button>
                              {{#if ownPage }}
                                   <button class="tab" data-id="bookmarks" onclick="window.location.href='/profile/{{profileDetails.username}}/bookmarks';">Bookmarks</button>
                                   <button class="tab" data-id="likes" onclick="window.location.href='/profile/{{profileDetails.username}}/likes';">Likes</button>
                                   <button class="tab" data-id="dislikes" onclick="window.location.href='/profile/{{profileDetails.username}}/dislikes';">Dislikes</button>
                              {{/if}}
                         </div>

                         <!-- SPECIFIC TAB -->
                         <div class="col2-sub-container" id="contentContainer">
                              <div id="poststab" class="tab-content" style="display: block">
                                   <!-- LOAD POST DATA -->
                                   <div id="postsContainer"></div>
                                   <script src="/js/loadProfilePosts.js"></script>
                                   <script>
                                         document.addEventListener("DOMContentLoaded", loadPosts('{{activeTab}}'));
                                   </script>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

          <!-- IMAGE MODAL -->
          <div id="imageModal" class="modal">
               <span class="close">&times;</span>
               <div id="userphotocontainer-modal"> 
                    <img class="modal-content" id="modalImage">
               </div>
               <div id="caption"></div>
          </div>
     </body>
</html>

<!-- PAGE JAVASCRIPT -->
<script src="/js/profilePage.js"></script>
<script src="/js/searchSuggestions.js"></script>