<!DOCTYPE html>
<html>
     <head>
          <title> {{profileDetails.username}} - Connectify </title>
          <link rel="icon" href="../resources/Logo.svg" type="image/svg+xml">

          <!-- CSS -->
          <link rel="stylesheet" type="text/css" href="/css/profilePage.css">
          <link rel="stylesheet" type="text/css" href="/css/generalStyle.css">

          <!-- SCRIPTS -->
          <script src="/js/actionButton.js"></script>
          <script src="/js/togglePopup.js"></script>

          <script>
               var own, liked, disliked, bookmarked;
               let activeTab = {{{ json activeTab }}};

               let profileDetails = {{{ json profileDetails }}}; 

               let userPosts  = {{{ json profilePosts }}} ;
               let userComments  = {{{ json profileComments }}};
               let userBookmarks  = {{{ json profileBookmarks }}};
               let userLikes  = {{{ json profileLikes }}};
               let userDislikes  = {{{ json profileDislikes }}};
          </script>
     </head>

     <body>
          <!-- HEADER PORTION -->
          <header>
               <div id="headercol1" onclick="window.location.href='../html/homePage.html'">
                    <img id="logo" src="../resources/Logo.svg" />
                    <p id="appName"> Connectify </p>
               </div>
               <div id="headercol2">
                    <div class="searchBar">
                         <img src="../resources/Trailing-Elements.svg" alt="Search Icon">
                         <input type="text" id="search" name="search" placeholder="Search #tags or ::words::" required>
                    </div>
               
                    <!-- IF USER IS NOT LOGGED IN -->
                    <!--<div class="logIn">
                         <button id="logInButton" onclick="window.location.href='../html/loginPage.html'">Log In</button>
                    </div>-->
               </div>
          </header>

          <div id="content">
               <div id="profileHeader">
                    <img id="header-img" src="{{profileDetails.headerpic}}" onclick="openModal(this)" />
               </div>
               
               <div id="sub-container">
                    <!-- USER STATS/OPTIONS COLUMN -->
                    <div id="col1">
                         <!-- USERNAME, PROFILE, FOLLOW/ER COUNT -->
                         <div class="col1-sub-container"> 
                              <!-- PFP and USERNAME -->
                              <div id="pfpcontainer">
                                   <div id="pfpPic">
                                        <img id="pfp-img" src="{{profileDetails.profilepic}}" onclick="openModal(this)" />
                                   </div>

                                   <p class="maintext" id="display_name">{{profileDetails.displayname}}</p>
                                   <p class="subtext" id="username">{{profileDetails.username}}</p>
                              </div>

                              <div class="inviBrk"> </div>
                              
                              <!-- FOLLOW/ER COUNTS -->
                              <div id="count">
                                   <div id="followers">
                                        <p class="maintext" id="num_likes">{{likesCount}}</p>
                                        <p class="subtext"> Likes </p>
                                   </div>

                                   <div id="following">
                                        <p class="maintext" id="num_posts">{{postCount}}</p>
                                        <p class="subtext"> Posts </p>
                                   </div>
                              </div>
                         </div>

                         <!-- BIO -->
                         <div class="col1-sub-container"> 
                              <h3> BIO </h3>

                              <!-- BIO PLACEHOLDER -->
                              <p id="bio" class="regulartext"></p>
                         </div>

                         <!-- TAGS -->
                         <div class="col1-sub-container"> 
                              <h3> TAGS </h3>

                              <!-- TAGS AVAILABLE -->
                              <div id="taglist"></div>
                         </div>

                         <!-- SETTINGS -->
                         <div class="col1-sub-container"> 
                              <button class="editProfile" onclick="window.location.href='../html/editProfilePage.html'">
                                   <img src="../resources/Edit Icon.svg" alt="">
                                   Account Settings
                              </button>
                              <button class="logOut" onclick="window.location.href='../html/loginPage.html'">
                                   <img src="../resources/Log Out Icon.svg" alt="">
                                   Log Out
                              </button>
                         </div>
                    </div>

                    <!-- USER POSTS/COMMENTS COLUMN -->
                    <div id="col2">
                         <!-- TAB SELECTION ROW -->
                         <div id="tabrow"> 
                              <button class="tab" data-id="posts" onclick="window.location.href='../profile/posts';">Posts</button>
                              <button class="tab" data-id="comments" onclick="window.location.href='../profile/comments';">Comments</button>
                              <button class="tab" data-id="bookmarks" onclick="window.location.href='../profile/bookmarks">Bookmarks</button>
                              <button class="tab" data-id="likes" onclick="window.location.href='../profile/likes">Likes</button>
                              <button class="tab" data-id="dislikes" onclick="window.location.href='../profile/dislikes">Dislikes</button>
                         </div>

                         <!-- SPECIFIC TAB -->
                         <div class="col2-sub-container" id="contentContainer">
                              {{#if (isEqual activeTab "comments")}}
                                   {{> commentsTab }}
                              {{else if (isEqual activeTab "bookmarks")}}
                                   {{> bookmarksTab }}
                              {{else if (isEqual activeTab "likes")}}
                                   {{> likesTab }}
                              {{else if (isEqual activeTab "dislikes")}}
                                   {{> dislikesTab }}
                              {{else}}
                                   {{> postsTab }}
                              {{/if}}
                         </div>
                    </div>
               </div>
          </div>

          <!-- IMAGE MODAL -->
          <div id="imageModal" class="modal">
               <span class="close">&times;</span>
               <div id="userphotocontainer-modal"> 
                    <img class="modal-content" id="modalImage">
               </div>
               <div id="caption"></div>
          </div>
     </body>
</html>

<!-- PAGE JAVASCRIPT -->
<script src="/js/profilePage.js"></script>