<!DOCTYPE html>
<html>
    <head>
        <title>Connectify - {{title}}</title>
        <link rel="icon" href="/resources/Logo.svg" type="image/svg+xml">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/postPage.css">
        <link rel="stylesheet" type="text/css" href="/css/replyPage.css">
        <link rel="stylesheet" type="text/css" href="/css/generalStyle.css">

    
        <!-- CROPPER -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    </head>

    <body>
        
        <!-- HEADER PORTION -->
        <header>
            <div id="headercol1" onclick="window.location.href='/'">
                 <img id="logo" src="/resources/Logo.svg" />
                 <p id="appName"> Connectify </p>
            </div>
            <div id="headercol2">
                <form action="/" method="GET" style="display: contents;">
                    <div class="searchBar" id="searchContainer">
                        <img src="/resources/Trailing-Elements.svg" alt="Search Icon">
                        <input type="text" id="search" name="q" placeholder="Search #tags, @authors, or words" autocomplete="off">
                        <div id="searchSuggestions" class="search-suggestions"></div>
                    </div>
                </form>
            </div>
       </header>

       <!-- MAIN PAGE -->
        <main>

            <!-- BACK BUTTON -->
            <div class="goBackLink" onclick="window.history.back()">
                <span class="arrow">&#8604;</span>
                <span class="back">Back</span>
            </div>

            <!-- POST SPACE -->
            <div class="postSpace">
                
                <!-- POST BEING REPLIED TO -->
                <div id="post">
                    <div id="replyToContainer">
                        {{#if post.parentPost}}
                        <div class="replyingTo">Replying to: {{post.parentPost.author.username}}</div>
                        {{/if}}
                    </div>
                    <div class="postHeader">
                        <div class="userInfo">
                            <div class="avatar" id="postAvatar">
                                <img src="{{post.author.profilepic}}" alt="userProfilePicture" class="userProfilePic">
                            </div>
                            <div class="username-and-time">
                                <div class="displayName" id="postDisplayName">{{post.author.displayname}}</div>
                                <div class="time" id="postTime">{{post.author.username}} | {{post.postDate}}</div>
                            </div>
                        </div>
                    </div>
                    <div id="tagContainer">
                        {{#each post.tags}}
                            <span class="tag">{{this}}</span>
                        {{/each}}
                    </div>
                    {{#if post.title}}
                    <div id="postTitleContainer">
                        <div class="postTitle">{{post.title}}</div>
                    </div>
                    {{/if}}
                    <div id="postText">
                        {{post.content}}
                    </div>
    
                    <!-- IMAGES -->
                    {{#if post.images.length}}
                    <div id="photo-container">
                        {{#each post.images}}
                            <img src="{{this}}" alt="Post image" class="postImage">
                        {{/each}}
                    </div>
                    {{/if}}
                </div>

                <!-- INPUTS FOR REPLY -->
                <form id="replyForm" action="/posts/reply/{{post._id}}" method="POST" enctype="multipart/form-data">
                    <div class="replySpace">
                        <div class="replyLine"></div>
                        <div class="replyThread">
                            <div class="replyPost">
                                <div class="postHeader">
                                    <div class="userInfo">
                                        <div class="avatar" id="REPavatar">
                                            <img src="{{activeUserDetails.profilepic}}" alt="userProfilePicture" class="userProfilePic">
                                        </div>
                                        <div class="username-and-time">
                                            <div class="REPusername" id="REPusername">{{activeUserDetails.displayname}}</div>
                                            <div class="currentUsername" id="currentUsername">{{activeUserDetails.username}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="replyPrompt">
                                    <div class="prompt">replying to</div>
                                    <div class="repliedUser" id="repliedUser">{{post.author.username}}</div>
                                </div>
                                <div class="postText">
                                    <textarea id="postTextInput" name="content" placeholder="What's on your mind?" maxlength="300"></textarea>
                                </div>
                                
                                <!-- CHAR LIM -->
                                <div class="charLim"> <span id="char-counter">0/300</span> </div>
                                <div id="replyphotocontainer"></div>

                                <!-- Image Modal -->
                                <div id="imageModal" class="modal">
                                    <span class="close">&times;</span>
                                    <div id="userphotocontainer-modal">
                                        <img class="modal-content" id="modalImage">
                                    </div>
                                    <div id="caption"></div>
                                </div>
                            </div>
                        </div>
                    </div>  

                    <!-- POST ACTIONS -->
                    <div class="horizontalBar"></div>
                    <div class="postAction">
                        <!-- Hidden file input for image upload -->
                        <input 
                            type="file" 
                            id="imageUploadInput" 
                            name="images"
                            accept="image/*" 
                            multiple 
                            style="display: none;"
                        />
                    
                        <!-- Add Image Button -->
                        <button type="button" id="addImageButton" class="imageActionButton">
                            <img src="/resources/ImageAdd.svg" alt="Add Image">
                        </button>
                        
                        <button type="submit" class="commentButton">Comment</button>
                    </div>
                </form>
            </div>
        </main>
        
        <script src="/js/actionButton.js"></script>
        <script src="/js/searchSuggestions.js"></script>
        <script>
            // Character counter
            const textarea = document.getElementById('postTextInput');
            const charCounter = document.getElementById('char-counter');
            
            textarea.addEventListener('input', () => {
                const currentLength = textarea.value.length;
                charCounter.textContent = `${currentLength}/300`;
            });
            
            // Image upload handling
            const addImageButton = document.getElementById('addImageButton');
            const imageUploadInput = document.getElementById('imageUploadInput');
            const imageContainer = document.getElementById('replyphotocontainer');
            
            addImageButton.addEventListener('click', () => {
                imageUploadInput.click();
            });
            
            imageUploadInput.addEventListener('change', function() {
                if (this.files && this.files.length > 0) {
                    imageContainer.style.display = 'flex';
                    imageContainer.innerHTML = '';
                    
                    for (let i = 0; i < this.files.length; i++) {
                        const file = this.files[i];
                        const reader = new FileReader();
                        
                        reader.onload = function(e) {
                            const img = document.createElement('img');
                            img.src = e.target.result;
                            img.className = 'preview-image';
                            imageContainer.appendChild(img);
                        }
                        
                        reader.readAsDataURL(file);
                    }
                }
            });
        </script>
    </body>
</html>